<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="me.test.calculator" platformBuildVersionCode="28" platformBuildVersionName="9">
    <application android:allowBackup="true" android:debuggable="true" android:icon="@mipmap/ic_launcher_cal" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_cal" android:supportsRtl="true" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:launchMode="singleTop" android:name="me.test.calculator.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>